/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */

 /*---------------  index  -----------------*/
.bg-header {
  background: url(images/larry-andy.jpg) center center no-repeat;
  background-attachment: fixed;
    background-size:cover;
}



/*----------------- part 1 -----------------*/
/*.bg-header-1 {
  background: url(images/larry-4.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size:cover;
  }
  */

/*.bg-quote-1 {
  background: url() center center no-repeat;
  background-attachment: fixed


}
*/


#titleText {
font-size: 55px;
margin-right: 12px;
margin-left: 12px;

}




.quote{ 
  border-left: 4px solid #000; }


/*----------------- part 2 -----------------*/
.bg-header-2 {
  background: url(images/vera-header-2.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.bg-quote-2 {
  background: url(images/larry-1.jpg) center center no-repeat;
  background-attachment: fixed;
}



/*----------------- part 3 -----------------*/
.bg-header-3 {
  background: url(images/vera-header-2.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.bg-quote-3 {
  background: url(images/larry-1.jpg) center center no-repeat;
  background-attachment: fixed;
}


/*------------------ part 4 ------------------*/

.video-title {
  background: #000;
}

/*@media only screen and (min-width : 768px) {
  .video-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  .video-wrapper video {
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
  }

  .video-title {
    background-color: rgba(0,0,0, .7);
    position: absolute;
      top: 32px;
      left: 30%;
    transform: translateX(-50%);
    z-index: 99;
  }
}
*/





footer {
  text-align:center;
  padding-bottom:2%;

}

#footerSocial {
  margin:1% 0;
}
.fa {
    padding: 20px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hoover {
  opacity: 0.7%;
}


















