/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
.bg-header {
  background: url(images/larry-andy.jpg) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(images/larry-1.jpg) center center no-repeat;
  background-attachment: fixed;
}